body {
    margin: 0;
    padding-left: 25px;
    background: #29282A;
    color: whitesmoke;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    color: #059669;
    margin-bottom: 50px;
}

label {
    color: #059669;
    padding: 10px 10px 10px 0;
}

ul {
    list-style-type: none;
    margin-left: 220px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 150px;
    margin-bottom: 50px;
    padding: 10px 20px;
    border: 2px solid green;
    border-radius: 5px;
}

.form-label {
    color: #059669;
    margin: 5px 0;
}

.form-el {
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #474649;
    color: white;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.form-btn {
    width: 150px;
    background: #474649;
    color: white;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.form-btn:disabled {
    color: gray;
    cursor: default;
}

.container {
    width: 920px;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 550px 300px;
    row-gap: 20px;
}

.network-selector, .vault-selector {
    grid-column: 2 / -1;
}

.network-el, .vault-address-el {
    padding: 10px;
    background: #474649;
    color: whitesmoke;
}

.grid-label {
    align-self: center;
}

.button-grid {
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.retrieve-column {
    justify-self: right;
}

.export-column {
    justify-self: left;
}

.input-el {
    width: 500px;
    padding: 10px 20px;
    background: #474649;
    color: whitesmoke;
}

#from-date-el {
    width: 150px;
}

.buttons {
    width: 242px;
    background: #474649;
    color: whitesmoke;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: bold;
}

.buttons:hover {
    cursor: pointer;
}

.rewards-grid {
    display: grid;
    grid-template-columns: 150px 300px 300px;
    row-gap: 3px;
    margin-left: 200px;
}

#rewards-grid {
    list-style-type: none;
}
